body{
    background-image: url("../Styles/images/purple-background.png");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#card1 {
    background-color: #fafafa;
    margin: 0 auto; /* Added */
    margin-top:10%;
    max-width: 50rem;
    float: contour; /* Added */
    display: none;
}

#card2 {
    background-color: #fafafa;
    margin: 0 auto; /* Added */
    margin-top:10%;
    max-width: 50rem;
    float: contour; /* Added */
    display: none;
}

#card3 {
    background-color: #fafafa;
    margin: 0 auto; /* Added */
    margin-top:10%;
    max-width: 50rem;
    float: contour; /* Added */
    display: none;
}

#Submit_Button{
    margin-top: 2%;
    margin-bottom: 2%;
}

#Logo {
    filter: invert(100%);
}
